body, p, .post-content, li {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .post-title, .navbar-brand {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
}
